@charset "utf-8";
/*@import url(timeline.css);Import ist schlecht!*/
/*+++HTML5 tags für ältere Browser+++*/
	header, section, footer,
	aside, nav, article, figure {
		display: block;
	}
/*---HTML5 tags für ältere Browser---*/
/*+++Styles für Internet-Explorer+++*/
	img {
		border: 0;
	}
/*---Styles für Internet-Explorer---*/
/*+++allgemeine Tags+++*/
	/*+++Responsives FB Plugin+++*/
		.fb-like-box, .fb-like-box span, .fb-like-box.fb_iframe_widget span iframe {
			width: 100% !important;
			background-color: white;
		}
	/*---Responsives FB Plugin---*/
	html {
		overflow-y: scroll;
	}
	body {
		background-color: #fff;
		background-position: 0 200px;
		color: #234754;
		margin: 0;
		padding: 0 0;
		font-family: 'Open Sans', Verdana;		
	}
	a {
		color: #000;
	}
	a:hover {
		text-decoration: none;
	}
	hr {
		border-bottom: 0;
		border-style: solid;
		margin: 1em 0;
		height: 0px;
	}
	th {
		text-align: left;
	}
/*---allgemeine Tags---*/
/*+++allgemeine Styles+++*/
	.greencolor {
		color: #B7D300;
	}
	.bottom_border_green {
			border-bottom: 5px solid #B7D300;
	}
	.bottom_border_blue {
			border-bottom: 5px solid #0092ff;
	}
	.pseudo_link {
		cursor: pointer;
		color: #000;
		text-decoration: underline;
	}
	.pseudo_link:hover {
		text-decoration: none;
	}
	.blue_line {
		background-image: url('../cache.php?f=/img/header_bg-blue.png');
	}
	.green_line {
		background-image: url('../cache.php?f=/img/header_bg-green.png');
	}
	.float_left {
		float: left;
	}
	.float_right {
		float: right;
	}
	.highlighted {
		color: #555;
		font-family: sans-serif;
		font-size: 2.5em;
		font-weight: bold;
		text-shadow: 2px 2px 0 #fff, 4px 4px 0 #8ED70F;
	}
	.arrow_up {
        position: relative;
        top: 3em;
        margin: 0 auto;
        border: 15px solid #234754;
        font-size:0;line-height:0;height:0;padding:0;width:0;
        border-top-color: transparent;
        border-top-width: 0;
    	border-right-color: transparent;
    	border-left-color: transparent;
    }
    .arrow_right {
        margin-right: 2em;
        display: inline-block;
        border: 8px solid #234754;
        font-size:0;line-height:0;height:0;padding:0;width:0;
        border-top-color: transparent;
    	border-right-color: transparent;
    	border-bottom-color: transparent;
    	border-right-width: 0;
    }
    .arrow_down {
        margin-right: 2em;
        display: inline-block;
        border: 8px solid #234754;
        font-size:0;line-height:0;height:0;padding:0;width:0;
        border-left-color: transparent;
    	border-right-color: transparent;
    	border-bottom-color: transparent;
    	border-bottom-width: 0;
    }
	.list_style_none li{
		list-style-type: none;
		padding: 0;
	}
/*---allgemeine Styles---*/
/*+++Baumdiagramm+++*/
	.tree {
	   width: 1000px;
		font-size: 0.8em;
		margin-left: -moz-calc( ( 100% - 1100px ) / 2 );
		/* WebKit */
		margin-left: -webkit-calc( ( 100% - 1100px ) / 2 );
		/* Opera */
		margin-left: -o-calc( ( 100% - 1100px ) / 2 );
		/* Standard */
		margin-left: calc( ( 100% - 1100px ) / 2 );
	}
	.tree ul {
		font-size: 1em;
		list-style-type: none;
		padding-top: 20px; position: relative;
		/*padding-left: 0px;*/
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	}
	
	.tree li {
		float: left; text-align: center;
		list-style-type: none;
		position: relative;
		padding: 20px 5px 0 0px;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	}
	
	/*We will use ::before and ::after to draw the connectors*/
	
	.tree li::before, .tree li::after{
		content: '';
		position: absolute; top: 0; right: 50%;
		border-top: 1px solid #ccc;
		width: 50%; height: 20px;
	}
	.tree li::after{
		right: auto; left: 50%;
		border-left: 1px solid #ccc;
	}
	
		
	
	/*We need to remove left-right connectors from elements without 
	any siblings*/
	.tree li:only-child::after, .tree li:only-child::before {
		display: none;
	}
	
	/*Remove space from the top of single children*/
	.tree li:only-child{ padding-top: 0;}
	
	/*Remove left connector from first child and 
	right connector from last child*/
	.tree li:first-child::before, .tree li:last-child::after{
		border: 0 none;
	}
	/*Adding back the vertical connector to the last nodes*/
	.tree li:last-child::before{
		border-right: 1px solid #ccc;
		border-radius: 0 5px 0 0;
		-webkit-border-radius: 0 5px 0 0;
		-moz-border-radius: 0 5px 0 0;
	}
	.tree li:first-child::after{
		border-radius: 5px 0 0 0;
		-webkit-border-radius: 5px 0 0 0;
		-moz-border-radius: 5px 0 0 0;
	}
	
	/*Time to add downward connectors from parents*/
	.tree ul ul::before{
		content: '';
		position: absolute; top: 0; left: 50%;
		border-left: 1px solid #ccc;
		width: 0; height: 20px;
	}
	
	.tree li span{
		width:10em; /*Testweise von mir/Roman*/
		border: 1px solid #ccc;
		padding: 5px 10px;
		/*text-decoration: none;
		color: #666;
		font-family: arial, verdana, tahoma;*/
		font-size: 100%;
		display: inline-block;
		
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	}
	
	.tree_second li {
		margin-left: -35px;
	}
/*---Baumdiagramm---*/
/*+++HEADER+++*/
	#header {
		font-family: 'Open Sans', sans-serif;
		margin-top: 0;
		overflow: auto;
		width: 100%;
		background-color: #333;
		min-width: 1000px;
	}
		#headerlist {
			color: #fff;
			float: right;
			height: 2.9em;
			margin: 1px 1px 0 0;
			line-height: 2.9em;
			list-style: none;
			padding: 0 1em 0 0;
		}
			#headerlist a {
				color: #fff;
			}
			/*#headerlist a:hover {
				text-decoration: none;
			}*/
			/*#headerlist a:visited {
			}*/
			/*#headerlist a:active {
			}*/
			#headerlist li {
				float: left;
				margin-left: 0.5em;
			}
			.headerlist_main_divider {
				color: #fff;
			}
			.headerlist_sub_divider {
				font-size: 0.8em;
			}
			.flag{
				width: 15px;
				height: 9px;
			}
		#headerlogin {
			color: #FFF;
			background-color: #333;
			border-left: #555 solid 2px; 
			float: right;
			height: 2.9em;
			line-height: 2.9em;
			margin: 1px 1px 0 0;
			padding-right: 1em;
			padding-left: 1em;
			text-decoration: none;
			vertical-align: middle;
			transition: all 300ms linear 0s;
			}
			#login-box {
			    width: 160px;
				background-color: #fff;
				display: none;
				padding: 1em;
				position: absolute;
				top: 3.5em;
				right: 350px;
				border: 1px solid #333;
				border-radius: 8px;
				z-index: 100;
			}
			    
			#headerlogin:hover {
				background-color: #666;
			}
			#headerregisterbr{
				color: #FFF;
				background-color: #333;
				border-left: 2px #555 solid;
				float: right;
				height: 3em;
				line-height: 3em;
				padding-left: 1em;
				padding-right: 1em;
			}
		#squery {
			border: none;
			padding: 3px;
		}
/*---HEADER---*/
/*+++LOGO+++*/

    #logo {
		left: 1%;
		/*height: 70px;
		width: 206px;*/
		top: 7em;
		position: absolute;
    }
	/*#round_logo {
        width: 80px;
	    height: 80px; 
	    background-color: #fff;
		border-radius: 100%;
		border: 2px #B7D300 dotted;
		padding: 0em;
		
		position:  absolute;
		top: 8px;
		left: 1%;
    }*/
/*---LOGO---*/
/*+++NAV+++*/
	#mainnav {
	    border-top: #fff solid 1px;
		width: 100%;
        background-color: #0092ff;
	}
	#mainnav > hr {
        margin: 0;
    }
		#mainnavlist {
			list-style: none;
			padding: 0;	
            overflow: hidden;
            width: 70%;
            min-width: 1000px;
            margin: 0 auto;
            					
		}
			#mainnavlist li {
				float: left;
				width: 15%;
				background-color: #0092ff;
				border-right: 1px #fff solid;
				text-align: center;	
				
				-webkit-transition: all 200ms linear 0s;
                -moz-transition: all 200ms linear 0s;
                -ms-transition: all 200ms linear 0s;
                -o-transition: all 200ms linear 0s;
                transition: all 200ms linear 0s;               		
			}
			#mainnavlist li.mainnavlink_active, #mainnavlist li.mainnavlink_active:hover {
                background-color: #fff;                
    		}
    		    #mainnavlist li.mainnavlink_active a, #mainnavlist li.mainnavlink_active:hover a {
                    color: #333;
                }
            #mainnavlist li:hover {
                background-color: #8ED70F;
            }
                #mainnavlist li:hover a, {
                    color: #333;
                }
		.navlinks:link, .navlinks:visited {
		    padding: 0.6em 0;
            position: relative;
			text-decoration: none;
			font-size: 20px;
            color: #fff;
            display: block;
            width: 100%;
            height: 100%;	
            	
		}
		
/*---NAV---*/
/*+++SECTION+++*/
/*++++Allgemeine SECTION Styles++*/
	#section {
		font-size: 1em;
		margin-top: 1.5em;
		width: 70%;
		margin: 1.5em auto 0;
		min-width: 1000px;
	}
		.mainarticles {
			padding-bottom: 1em;
			margin-bottom: 1em;
			overflow: hidden;
		}
			.mainarticleheaders {
				background-position: center;
				background-repeat: repeat-x;
				display: block;
				text-align: center;
			}
				.mainarticleheaders h1{
					background-color: #FFF;
					display: inline;
					font-size: 1.4em;
					margin-top: 0;
					padding: 0 1em;
				}
				
				.mainarticleheaders h2{
					background-color: #FFF;
					display: inline;
					font-size: 1.8em;
					margin-top: 0;
					padding: 0 1em;
				}
/*---allgemeine SECTION Styles---*/
	/*+++Home SECTION+++*/
		.hint {
			padding: 15px;
			background-color: #EBEBEB;
			margin-bottom: 20px;
			margin-top: 10px;
		}
		.hint h1 {
			margin: 0px;
			color: red;
		}
		.hint p {
			margin: 10px 0px;
		}
		
	/*Connect Leiste*/	
		#connect_leiste {
			 margin-bottom: 0.5em;
			 margin-top: 0.5em;
			 overflow: auto;
			 padding-bottom: 1em; 
		}
			.connect_box_start {
				/*min-height: 230px;
				max-*/height: 260px;	
			}
			.connect_box {
				float: left;
				padding: 1%;
				background-color: #9B9B9B;
				background-color: #eee;
			}
			        #connectbox_1, #connectbox_2 {
                        display: none;
                    }

    			.connect_box h1 {
    				text-shadow: 0px 2px 2px #777;
    				text-decoration: none;
    				font-size: 2em;
    				font-family: tahoma;
    				color: #FFF;
    				margin: 0;
    				margin-bottom: 0.25em;
    				padding-left: 10px;
    				border-left: 4px solid #B7D300;
    				
    			}    			    
    			    
    			.connect_box span {
                    color: #0092ff;
                    font-weight: bold;
                }
				#uploads_box {
					width: 70%;   
					margin-right: 1%;   
				}
				   
				#central_newest_pic {
                    padding-left: 10px;
                    overflow: auto;
                }
                
                .changepic {
                }
				.connect_thumb_link {
        			float: left;
        			max-width: 40%; 
        			margin-bottom: 0.5em;

        		}
                    .connect_thumbnail {
        			   	padding-right: 1em;
            	        border-right: solid 1px #000;
            			float: left;           			
            			max-width: 85%;
            			/* Firefox */
            			max-width: -moz-calc(100% - 50px);
            			/* WebKit */
            			max-width: -webkit-calc(100% - 50px);
            			/* Opera */
            			max-width: -o-calc(100% - 50px);
            			/* Standard */
            			max-width: calc(100% - 50px);
						max-height: 175px;
        			} 
        			.connect_pic-info {
        			    font-size: 1.1em;
            			float: left;
            			max-width: 46%;
            		}
            			.connect_pic-info th {
            				padding: 0 1em 0 0;
            				width: 4em;
            				color: #B7D300;
            			}
            		.more_imgs {
            	       float: left;
                       margin-right: 1em;          	                 		
                    }            		
                		.fake_img {
                            width: 50px;
                            height: 50px;
                            background-color: #B7D300;
                            margin-bottom: 5px;
                            border: 4px solid #fff;
                        }
				#submit_box {
					width: 25%;
				}
					#submit_box hr {
						margin: 0.2em 0;
						color: #444;
					}
					#submit_box p {
					   margin: 0.5em 0;
					}
					#submit_box h1 {
                       border-left: 4px solid #0092ff;
                    }
                #stats_box {
                    margin-right: 1%;
                    width: 35%;
                }
                    #stats_box > h1 {
                        border-left: 4px solid #5CD300;
                    }
                    #stats_box > table {                
        				/*padding-left: 1.5em;*/			
                    }
                    #stats_box th {
    					padding-right: 1em;
    				}
    			#topusers_box {
    		        margin-right: 1%;
    		        width: 30%;
    			}
    			 #topusers_box > h1 {
                    border-left: 4px solid #F00567;
                }
		/*Artikel*/			
		.round_image {
            margin: 0 auto;
            padding: 0;
            width: 340px;
            height: 340px;
            border-radius: 100%; 
            border: 3px #fff dashed
        }
        #reisearmband {
			float: left;
			width: 35%;
		}
		#kollektion {
			float: left;
			margin-left: 3%;
			width: 35%;
		}
			.kollektion_numbers{
				float: left;
				padding-right: 10px;
			}
			#kollektion p {
				border: 1px black solid;
				margin: 0;
				padding: 10px;
			}
			.arrow {
				/* Fallback */
				margin-left: 48%;
				/* Firefox */
				margin-left: -moz-calc(50% - 20px);
				/* WebKit */
				margin-left: -webkit-calc(50% - 20px);
				/* Opera */
				margin-left: -o-calc(50% - 20px);
				/* Standard */
				margin-left: calc(50% - 20px);
			}
		.line_header {
			margin-bottom: 1em;
		}
		/*YOUTUBE*/
		.responsive_16-9, .responsive_4-3, .responsive_a4{  
           position: relative;  
           /*16 zu 9 Layout für Videos*/
           padding-bottom: 56.25%;  
           height: 0;  
           overflow: hidden;  
        }            
        .responsive_16-9 iframe, .responsive_4-3 iframe, .responsive_a4 iframe,  
        .responsive_16-9 object, .responsive_4-3 object, .responsive_a4 object,  
        .responsive_16-9 embed, .responsive_4-3 embed, .responsive_a4 embed{  
           position: absolute;  
           top: 0;  
           left: 0;  
           width: 100%;  
           height: 100%;  
        }  
	/*---Home SECTION---*/
	/*+++Über uns SECTION+++*/
		#about-us {
			float: left;
			width: 73%;
		}
		#wir {
			border: 6px solid #999;
			margin-left: -moz-calc( ( 100% - 984px ) / 2 );
			/* WebKit */
			margin-left: -webkit-calc( ( 100% - 984px ) / 2 );
			/* Opera */
			margin-left: -o-calc( ( 100% - 984px ) / 2 );
			/* Standard */
			margin-left: calc( ( 100% - 984px ) / 2 );
			width: 972px;
			height: 400px;
			position: relative;
			overflow: hidden;
		}
		  #text_box {
		      position: absolute; 
              /* Fallback for web browsers that doesn't support RGBa */
              background: rgb(255, 255, 255);
              /* RGBa with 0.5 opacity */
              background: rgba(255, 255, 255, 0.4);
              padding: 10px;
              width: 350px;
              top: -35px;
              left: 10px;
              transition: all 400ms linear;
              color: #000;      
              border-radius: 5px;      
          }

            #wir:hover #text_box {
                top: 0px;
            }
            
        #partner {
            margin-top: 30px;
            padding: 10px;
            padding-left: 20px;
            float:left;
            font-size:1.5em;
            width: 100%;
            background-color: #eee;
        }
            #partner h1 {
                position: relative;
                top: 25px;
                float:left;
    			text-shadow: 0px 2px 2px #777;
    			text-decoration: none;
    			font-size: 1.5em;
    			font-family: tahoma;
    			color: #FFF;
    			margin: 0;
    			margin-bottom: 0.25em;
    			padding-left: 10px;
    			border-left: 4px solid #B7D300;
            }  
          
		#partner_box {
            float: left;
            background: #eee;
            width: 27%;
            margin-left: 1%;
            padding: 0.5em;
            display: block;
            text-decoration: none;
        }
        #partner_box > h1 {
            text-shadow: 0px 2px 2px #777;
			font-size: 2em;
			font-family: tahoma;
			color: #FFF;
			margin: 0;
			margin-bottom: 0.25em;
			padding-left: 10px;
			border-left: 4px solid #B7D300;
        }
        
        #about_text {
            border-radius: 20px;
            padding: 20px;
            border: 2px dashed #bbb;   
            border-right: 4px solid #B7D300;
            border-left: 4px solid #B7D300;
        }
            
            #graffe_link {
                display: block;
                text-decoration: none;    
            }
                #graffe_link > img {
                    width: 40%;
                    float: left;
                }
            .partner_name {
                float: left;
                font-size: 1em;
                width: 55%;
                margin: 0;
                color: #000;
            }
            

	/*---Über uns SECTION---*/
	/*+++Impressum SECTION+++*/
		#impressum {
			float: left;
			width: 100%;
		}
		#disclaimer-impressum {
			float: left;
		}
	/*---Impressum SECTION---*/
	/*+++Kontakt SECTION+++*/
		#kontakt {
		}
	/*---Kontakt SECTION---*/
	/*+++Armband SECTION+++*/
		#armband {
			float: left;
			width: 73%;		
		}
	/*---Armband SECTION---*/
	/*+++Profil SECTION+++*/
	.msg_box {
	    float: right;
	    margin-right: 20px;
        overflow: auto;
        border-radius: 10px;
        width: 260px;
        padding: 0 5px;
        background-color: #eee;
        border: solid 1px #222;
    }
	.profile_pic {
	    float: left;
        margin-right: 1em; 
        border-radius: 1em;
    }	
	.user_info {
        overflow: hidden;    
        margin-bottom: 1em; 
        float: left;
        width: 32%;
    }
        .user_info > h1, .user_info p {
            margin: 0;
        }
    .logged_info {
        float: right;
    }
    .showcases, #showcase_2{
        clear: both;  
        overflow: auto;  
    }
         #showcase_3, #showcase_4 {
            display: none;
        }
    .tabs {
        margin: 0px;
        padding: 0.4em;
        clear: both;
        display: inline-block;
        text-decoration: none;
        transition: background-color 400ms linear 0;
    }
        .tabs:hover {
            background-color: #ddd;
        }
	.notifications {
		float: left;
		width: 25%;
	}
	.notifications .previews {
		width: auto !important;
	}
	.previews {
		background-color: #EBEBEB;/*#ddd;*/
		width: 300px;
		/*height: 200px;------------------------------------------------------------------------------------Maybe*/
		float: left;
		margin: 1%;
		padding: 0.5em;
	}
		.preview_text {
			font-size: 0.8em;
			margin: 0;
		}
		.previewpic {
			max-width: 100%;
			height: 170px;
		}
	/*---Profil SECTION---*/
	/*+++Start SECTION+++*/
		#msg_notes {
            position: fixed;
            right: 20px;
            bottom: 20px;
        }	
            .note {
                overflow: auto;
                border-radius: 10px;
                margin-top: 10px;
                width: 400px; 
                padding: 10px;
                background-color: #eee;
                border: solid 1px #222;
                    
            }
                .note_link {
                    text-decoration: none;
                    width: 383px;
                    display: block;
                    overflow: auto;
                }
                .del_msg { 
                    text-decoration: none;
                    font-weight: bold;
                }
            
		.thumb_link {
			float: left;
			max-width: 40%;
			width: 390px;
		}
			.thumbnail {
			border: 8px solid #CDCDCD;
			float: right; 
			height: auto; 
			margin-bottom: 1em;
			max-height: 400px;
			margin-right: 0em;
			max-width: 85%;
			/* Firefox */
			max-width: -moz-calc(100% - 50px);
			/* WebKit */
			max-width: -webkit-calc(100% - 50px);
			/* Opera */
			max-width: -o-calc(100% - 50px);
			/* Standard */
			max-width: calc(100% - 50px);
			}
			.thumb_triangle {
				float: right;
				margin-top: 10px;
			}
		.pic-info {
			font-size: 1.2em;
		}
			.pic-info th {
				padding: 0 1em 0 0;
				width: 4em;
			}
		.bracelet-props{
		   background-color: #4C4C4C !important;
		   border: none !important;
		   color: #FFF !important;
		   padding: 1em !important;
		   width: 22% !important;
		}        
		.pic-desc {
			float: left;
			margin-top: 15px;
			padding: 0;
			width: 56%;
		}
			.desc-header {
				color: #B7D300;
				font-weight: bold;
			}
			.toggle_comments {
				background-color: #4C4C4C;   
				color: #FFF;
				font-family: 'Open Sans', Verdana, sans-serif;
				padding: 2px 4px;
				text-decoration: none;
			}
		.comments {
			clear: both;
			display: none;
			color: black;
			background-color:  #EBEBEB;
			padding:  20px;
			padding-bottom: 20px;
		}      
			.comments strong {
				color: #B7D300;
				font-family: 'Open Sans', Verdana, sans-serif;
			}
			.comments p {
				margin-top: 10px;
				padding-left: 20px; 
				border-left: 4px #B7D300 solid;   
			}
			.comment_form {
				margin-top: 20px;
				margin-left: 20px;
				padding-left: 20px;
				border-left: 4px #B7D300 solid;
			}
				.comment_content {
					padding: 5px;
					width: 45%;
				}
	/*---Start SECTION---*/
	/*+++Login SECTION+++*/
		#register_pic {
			float: left;		
			width: 49%;
			margin-right: 3%;
			position: relative;
			
		}
		#register_br {
			float: left;
			width: 48%
		}
        #map {
            position: absolute;
            left: 100%;
            top: 0;
            padding: 1em;
            border: 1px solid #000;
        }
            #pos {
                width:400px;
                height:300px;
            }
            #map > p {
                margin: 1em 0 0 0;    
            }
        #image_preview {
            background-repeat: no-repeat;
            background-position: center;
            max-height: 0px;
            border: 1px solid #000;
            padding: 1em;   
            max-width: 400px;         
        }
	/*---Login SECTION---*/
    #register_pics {
        margin: 20px auto; 
        width: 852px;
        overflow: auto;
    }
        .overlay {
            background-color: #fff;
            width: 100%;
            height: 100%;
            border-radius: 100%;
            opacity: 0;
            -webkit-transition: opacity 300ms linear;
            -moz-transition: opacity 300ms linear;
            -ms-transition: opacity 300ms linear;
            -o-transition: opacity 300ms linear;
            transition: opacity 300ms linear;
        }        
        
        #reg_pic1 {background-image: url("/cache.php?f=/pictures/register_pic1_small.png");} 
        #reg_pic2 {background-image: url("/cache.php?f=/pictures/register_pic2_small.png");}
        #reg_pic3 {background-image: url("/cache.php?f=/pictures/register_pic3_small.png");}
            #reg_pic1:hover .overlay{
                opacity: 0.8;
            }
            #reg_pic2:hover .overlay{
                opacity: 0.8;
            }
            #reg_pic3:hover .overlay{
                opacity: 0.8;
            }

        .register_pic {   
            position: relative;
            margin-right: 20px;
            padding: 0;
            width: 250px;
            height: 250px;
            border-radius: 100%;
            border: 2px #0092ff solid;
            float: left;
        }            
            .register_pic p {
                position: absolute;
                top: 70px;
                left: 55px;
                width: 180px;
                color: #000;
                opacity: 0;   
                -ms-transition: all 300ms linear;  
                -moz-transition: all 300ms linear;  
                -o-transition: all 300ms linear;  
                -webkit-transition: all 300ms linear;  
                transition: all 300ms linear;
            }
                .register_pic:hover p {
                    opacity: 1;
                }
    #reg_text {
        margin: 0 auto;
        font-size: 15pt;
        border: 2px solid #B7D300;
        color: #fff;
        border-radius: 20px;
        padding: 20px;
        background-color: #222;
        width: 250px;
    }
    #disclaimer {
        margin-left: -moz-calc( ( 100% - 450px ) / 2 );
        margin-left: -o-calc( ( 100% - 450px ) / 2 );
        margin-left: -ms-calc( ( 100% - 450px ) / 2 );
        margin-left: -webkit-calc( ( 100% - 450px ) / 2 );
        margin-left: calc( ( 100% - 450px ) / 2 );
        width: 100%;
    }
    #reg_table {
        clear: both;
        margin: 0 auto; 
        border: 2px solid #0092ff;
        padding: 20px; 
        border-radius: 20px;
        background-color: #222222;
        color: #fff;   
    }
        #reg_table td {
            padding-bottom: 10px;
        }
	/*+++ FAQ SECTION +++*/
    .answers {
        clear: both;
        overflow: auto;
        display: none;
        margin-left: 2em;
    }
        .answers > p {
            margin-top: 0;
        }
    .questions {
        margin: 0px;
        padding: 0.4em;
        clear: both;
        display: inline-block;
        text-decoration: none;
        transition: background-color 400ms linear 0;
    }
        .questions:hover {
            background-color: #ddd;
        }
	/*--- FAQ SECTION ---*/
	/*+++ Shop SECTION +++*/
	#shop h2 {
        margin-top: 0;
        margin-bottom: 0.5em;
        font-size: 3em; 
    }
    #shop h3 {
        margin: 0;
    }
    #shop h4 {
        margin: 0;
        font-weight: normal;
        font-size: 1.2em;
    }
    .shop_text {
        margin-top: 0;
    }
    #shop hr {
        margin-top: 0;        
        margin-top: 0;        
    }
    .product_pic {
        border: 6px solid #999;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
		/*Shop, Slider:*/
		cursor: move;
		overflow: hidden;
    }
    #preis {
        border: 2px #05EB80 solid;        
        box-shadow: inset 0px 0px 0px 3px #fff;
        margin-top: 50px;
        margin-left: 20px;
        padding: 0;
        width: 200px;
        height: 200px;
        border-radius: 100%;

        float: right; 
        background-color: #ddd;   
    }
        .preis_text {
            margin-bottom: 0;
            margin-top: 50px;
            margin-left: 30px;
            font-family: dosis;
            font-size: 4em;
            color: #fff;
            text-shadow: 3px 3px 0 #ddd, 5px 5px 0 #707070;
        } 
        .preis_text2 {
            margin-top: 0;
            margin-left: 54px;
            font-family: dosis;
            font-size: 1em;
            color: #fff;
            text-shadow: 1px 1px 0 #ddd, 2px 2px 0 #707070;
        }
    
    .order_button {
        margin-top: 1em;
        display: inline-block;
        padding: 1em;
        text-decoration: none;
        background-color: #0092ff;
        color: #fff;
        border-radius: 10px;
        transition: background-color 300ms linear;
    }
        .order_button:hover {
            background-color: #A323CA;
        }
	#order > form {
        padding-left: 1em;
        border-left: 4px solid #999; 
    }
	/*--- Shop SECTION ---*/
	/*+++ Nachrichten SECTION +++*/
	#sidebar {
        width: 400px;
        float: left;
    }
    #sidebar hr {
        margin: 0;
    }
    #chat_list {
        border-left: 2px #0092ff solid;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    #chat_list li {
        padding: 10px;
        background-color: #eee;
        border-right: 1px solid #000;
        transition: background-color 400ms;
    }
        #chat_list li:hover {
            background-color: #9DE7FF;
        }
    #chat_list li.selected {
        background-color: #fff;
        border: none;    
    }
    #chat_room {
        float: left;
        width: -o-calc( 100% - 421px );
        width: -moz-calc( 100% - 421px );
        width: -ms-calc( 100% - 421px );
        width: -webkit-calc( 100% - 421px );
        width: calc( 100% - 421px );

        border: 1px solid #000;
        border-left: none;
        border-bottom: none;
        padding: 10px;
    }
        #message_box {
            background-color: #eee;
            border-radius: 10px; 
            padding: 10px;   
        }
            .post {
                overflow: auto;
                margin-bottom: 20px;
                clear: both;
            }
                .post_rightside {
                    float: left;                    
                    max-width: -o-calc( 100% - 200px );
                    max-width: -webkit-calc( 100% - 200px );
                    max-width: -ms-calc( 100% - 200px );
                    max-width: -moz-calc( 100% - 200px );
                    max-width: calc( 100% - 200px );
                }
            #chat_text {
                width: 99%;
                height: 100px;
                font-family: Open Sans;
                font-size: 1em;
                resize: none;
            }
        .answer_box {
            margin-top: 10px;
            background-color: #eee;
            border-radius: 10px;
            padding: 10px;
        }
	/*--- Nachrichten SECTION ---*/
/*---SECTION---*/
/*+++Side Container ASIDE+++*/
	.side_container {
		border-left: black solid 1px;
		background-color: #eee;
		float: right;
		padding: 1.25em;
		width: 21%;    
	}
		.side_container h1{
			    text-shadow: 0px 2px 2px #777;
				font-size: 2em;
				font-family: tahoma;
				color: #FFF;
				margin: 0;
				padding-left: 0.25em;
				margin-bottom: 0.25em;
				border-left: 4px #0092FF solid;		
		}
		.side_container p {
			padding: 0;
			margin: 0;
		}        
		.side_container td {
			margin: 0;
			padding: 4px;
		}
/*---Side Container ASIDE---*/
@keyframes fadein{from{opacity:0;}to{opacity:1;}}@-moz-keyframes fadein{from{opacity:0;}to{opacity:1;}}@-webkit-keyframes fadein{from{opacity:0;}to{opacity:1;}}@-o-keyframes fadein{from{opacity:0;}to{opacity:1;}}

		.paypal{
			border:0;
			width:1px;
			height:1px;
		}
		footer{
			display:block;
			width:600px;
			height: 20px;
		}
		.footer_down{
			position:absolute;
			bottom:0px;
		}
		
		/*inlineStyleweg:*/
		.nonetextdeco{
			text-decoration: none;
		}
		.marginright10{
			margin-right: 10px;
		}
		.newmsg{
			margin: 0;
			width: 270px;
			float: left;
		}
		.mainnavlistli1{
			border-left: 1px #fff solid;
		}
		#picupload_login_loading{
			display: none;
		}
		.display_none{
			display: none;
		}
		.border_black{
			border: 1px solid black;
		}
		.border_white{
			border: 1px solid white;
		}
		.border999{
			border: 1px #999 solid;
		}
		.overflow_auto{
			 overflow: auto;
		}
		#kontakt-form{
			padding-left: 20px;
			border-left: 4px #BEBEBE solid;
		}
		.hr_clear{
			clear: both;
		}
		.width100{
			width: 100%;
		}
		.div70left{
			width: 70%;
			float: left;
		}
		.mt2{
			margin-top: 2em;
		}
		.mt20{
			margin-top: 20px;
		}
		.weiss {
			color: #fff;
		}
		.start_topusers_td{
			border-bottom: 1px solid #000;
		}
		#shop_div1{
			float: left;
			width: 420px;
		}
		#shop_div2{
			float: left;
			width: 55%;
			margin-left: 2%;
		}
		#shop_div2_div{
			width: 55%;
			float: left;
		}
		.shop_slider{
			position: relative;
			width: 400px;
			height: 600px;
		}
		.pfeil_small{
			position: relative;
			top: 2px;
		}
		.armband_hr{
			border-style: solid;
			height: 0px;
			border-bottom: 0;
			clear: both;
		}
		.verdana_times{
			font-family: Verdana, Times
		}
		.italic000{
			color: #000;
			font-style: italic;
		}
		#login1{
			font-style: italic;
			font-weight: bold;
		}
		#login2{
			margin-top: 25px;
			border-color: #D340FF;
		}
		#login3{
			width: 300px;
			height: 300px;
		}
		#login4{
			width: 200px;
			top: 85px;
		}
		#login5{
			margin-right: 0;
			margin-top: 25px;
			border-color: #05EB80;
		}
		#login6{
			left: 40px;
		}
		#login7{
			float:left;
			width: 110px;
		}
		#login8{
			border-top-color: #FFF;
		}
		.text_center{
			text-align: center;
		}
		.ml2{
			margin-left: 2em;
		}
		.width50{
			width: 50%;
		}
		#junior{
			width: 80%; height: auto;
		}
		.border_none{
			border: none;
		}
		.mb0{
			margin-bottom: 0;
		}
		.mto{
			margin-top: 0;
		}

.delete_button {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial Black;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:29px;
	line-height:29px;
	width:34px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #ffffff;
}
.delete_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.delete_button:active {
	position:relative;
	top:1px;
}

#map_home {
	height: 400px;
}