@charset "utf-8";
/* HTML5 tags für ältere Browser*/
header, section, footer,
aside, nav, article, figure {
	display: block;
}
/*Internet-Explorer*/
img {
	border: 0;
}
html {
	border-top-color: #234754;
	border-top-style: solid;
	border-top-width: 11px;
	overflow-y: scroll;/*Scrollbalken für einheitliches Design erzwingen*/
}
/*---allgemeine Tags---*/
body {
	background-color: #FFF;              /*background-color: #CCCCFF;*/
	color: #234754;
	margin: 0 auto;
	min-width: 1000px;
	padding: 0 10px;
	width: 70%;
}
a {
	color: #000;
}
a:hover {
	text-decoration: none;
}
/*#headerlist a:visited {
}*/
/*#headerlist a:active {
}*/.greencolor {
	color: #9AEA00;
}
hr {
	border-bottom: 0;
	border-style: solid;
	margin: 1.5em 0s;
	height: 0px;
}
th {
	text-align: left;
}
/*---allgemeine Styles---*/
.bottom_border_green {
		border-bottom: 5px solid #B7D300;
}
.bottom_border_blue {
		border-bottom: 5px solid #7E74E1;
}
.pseudo_link {
	cursor: pointer;
	color: #000;
	text-decoration: underline;
}
.pseudo_link:hover {
	text-decoration: none;
}
.blue_line {
	background-image: url('../img/header_bg-blue.png');
}
.green_line {
	background-image: url('../img/header_bg-green.png');
}
/*---HEADER---*/
#header {
	font-family: Tahoma, Geneva, sans-serif;
	width: 100%;
	margin-top: 0;
}
	#headerlist {
		color: #9B9B9B;
		float: right;
		height: 2.9em;
		margin: 1px 1px 0 0;
		line-height: 2.9em;
		list-style: none;
		padding: 0 1em 0 0;
	}
		#headerlist a {
			color: #9B9B9B;
		}
		/*#headerlist a:hover {
			text-decoration: none;
		}*/
		/*#headerlist a:visited {
		}*/
		/*#headerlist a:active {
		}*/
		#headerlist li {
			float: left;
			margin-left: 0.5em;
		}
		.headerlist_main_divider {
			color: #000;
		}
		.headerlist_sub_divider {
			font-size: 0.8em;
		}
		#de_flag {
			width: 15px;
			height: 9px;
		}
		#gb_flag {
			width: 18px;
			height: 9px;
		}
	#headerlogin {
		color: #FFF;
		background-color: #56747C;
		float: right;
		height: 2.9em;
		line-height: 2.9em;
		margin: 1px 1px 0 0;
		padding-right: 1em;
		padding-left: 1em;
		text-decoration: none;
		vertical-align: middle;
		}
		#login-box {
			background-color: #E1E1E1;
			background-image: url('../img/login-box.png');
			background-position: top;
			background-repeat: no-repeat;
			display: none;
			padding: 30px 1em 1em 1em;
			position: absolute;
			top: 4em;
		}
		#headerlogin:hover {
			background-color: #BBB;
		}
		#headerregisterbr{
			color: #FFF;
			background-color: #234754;
			float: right;
			height: 3em;
			line-height: 3em;
			padding-left: 1em;
			padding-right: 1em;
		}
/*---logo---*/
#logo {
	height: 70px;
	left: 1%;
	position:  absolute;
}
/*---STATISTICS---*/

#statistics {
	background-color: #577279;
	color: #FFF;
	display: none;
	height: 100px;
	padding: 1em;
	width: 71%;
}
	.statistic_elements {
		float: left;
		padding: 0 0.5em 0 0.5em;
		height: 100%;
		border-left: 2px solid #FFF;
	}
	.green_border {
		border-left: 3px solid #9AEA00; 
		height: 1em;
		margin-right: 2em;
	}
	#latest_pic {
		height: 100%;
		width: 10em;
		float: left;
		margin-right: 0.5em;
	}
	#latest_user {
		background-color: #404040;
		display: block;
		padding: 0.5em;
	}
	.thumbnails {
		float: left;
		height: 20px;
		width: 20px;
	}
	#most_active {
		background-color: #404040;
		height: inherit;
		padding: 0.25em;
	}
	#most_active_users {
		color: #9B9B9B;
		list-style: none;
		padding-left: 0.5em;
	}
	.statregister {
		font-size: 1.2em;
		font-weight: bold;
		height: 48%;
		padding: 1%;
		text-align: center;
	}
	#stat_register_upper {
		background-color: #9AEA00;
		border-top-left-radius: 10px;
		border-top-right-radius: 10px;
	}
	#stat_register_lower {
		background-color: #8ED70F;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
	#stat_register_lower a:link {
		color: #FFF;
	}
/*---NAV---*/
#mainnav {
	clear: both;
	margin-bottom: 3em;
	padding-top: 2.1em;
	
}
	#mainnavlist {
		list-style: none;
		margin-top: 2em;
		padding: 0;
		display: inline;
	}
		#mainnavlist li {
			float: left;
			font-size: 1.75em;
			margin-right: 2em;
		}
	.mainnavlinks:link, .mainnavlinks:visited {
		color: #000;
		border-bottom: 1px dashed grey;
		font-weight: bold;
		text-decoration: none;
	}
	.mainnavlinks:hover {
		border-bottom: 5px solid grey;
	}
/*---SECTION---*/
#section {
	font-size: 1.15em;
	margin-top: 2em;
}
	.mainarticles {
		padding-bottom: 1em;
		margin-bottom: 1em;
	}
		.mainarticleheaders {
			background-position: center;
			background-repeat: repeat-x;
			display: block;
			text-align: center;
		}
			.mainarticleheaders h1{
				background-color: #FFF;               /*background-color: #CCCCFF;*/
				display: inline;
				font-size: 1.15em;
				margin-top: 0;
				padding: 0 1em;
			}
			
			.mainarticleheaders h2{
				background-color: #FFF;
				display: inline;
				font-size: 1.8em;
				margin-top: 0;
				padding: 0 1em;
			}
	/*---Home SECTION---*/
	.hint {
		padding: 20px;
		background-color: #EBEBEB;
		margin-bottom: 20px;
		margin-top: 10px;
	}
	.hint h1 {
		margin: 0px;
		color: red;
		font-family: Verdana, Geneva, Times;
	}
	.hint p {
		margin: 10px 0px;
	}
	#reisearmband {
		float: left;
		width: 35%;
	}
	#reisearmband_img {
		width: 100%;
	}
	#kollektion {
		float: left;
		margin-left: 3%;
		width: 35%;
	}
	#kollektion_img {
		width: 100%;
	}
	.line_header {
		margin-bottom: 1em;
	}
	/*---Über uns SECTION---*/
	#about-us {
		float: left;
		width: 73%;
	}
	#wir {
		width: 100%;
	}
	/*---Impressum SECTION---*/
	#impressum {
		float: left;
		width: 100%;
	}
	#disclaimer {
		float: left;
	}
	/*---Kontakt SECTION---*/
	#kontakt {
	}
	/*---Armband SECTION---*/
	#armband {
		float: left;
		width: 73%;		
	}
	/*---Start SECTION---*/
	#placelet_stats {
		background-color: #EBEBEB;
		border: 1px dotted white;
		color: 000;
		margin-top: 4em;
		padding: 1em;
		text-shadow: 1px 1px 0px #bad3ed;
		/*text-shadow: 0px 1px 1px #555;*/
		margin-bottom: 1em;
	}
		#placelet_stats h1 {
			color: #B7D300;
            font-family: Verdana, Geneva, sans-serif;
			margin-top: 0px;
			
		}
		#placelet_stats table {
            border-left: 4px #B7D300 solid;
			float: left;
            padding-left: 20px;
            padding-right: 20px;

		}
    		#placelet_stats th {
    			padding-right: 1em;
    		}
	.start-picture {
	   border: 8px solid #CDCDCD;
       float: left; 
       height: auto; 
       margin-bottom: 1em;
       margin-right: 0em; 
	   width: 35%;
	   max-width: 300px;
	}
	.start-info {
        float: left; 
        font-size: 1.25em;
    }
		.start-info th {
			padding: 0;
			padding-right: 1em;
			text-decoration: underline;
		}
	.bracelet-props{
	   background-color: #4C4C4C !important;
       border: none !important;
	   color: #FFF !important;
	   padding: 1em !important;
	   width: 22% !important;
	}        
    .start-desc {
        float: left;
        font-size: 1em;
        margin-left: 20px;
        margin-top: 15px;
        padding: 10px;
        padding-top: 0px;
        width: 56%;
    }
        .desc-header {
            color: #B7D300;
            font-family: Verdana, Geneva, sans-serif;
            font-size: 1em;
            font-weight: bolder;
        }
        .toggle_comments {
            background-color: #4C4C4C;   
            color: #FFF;
            font-family: Verdana, Geneva, sans-serif;
            padding: 2px 4px;
            text-decoration: none;
        }
    .comments {
        clear: both;
        display: none;
        color: black;
        background-color:  #EBEBEB;
        padding:  20px;
        padding-bottom: 20px;
    }      
        .comments strong {
            color: #B7D300;
			font-family: Verdana, Geneva, sans-serif;
        }
        .comments p {
            margin-top: 10px;
            padding-left: 20px; 
            border-left: 4px #B7D300 solid;   
        }
        .comment_form {
            margin-top: 20px;
            margin-left: 20px;
            padding-left: 20px;
            border-left: 4px #B7D300 solid;
        }
            .comment_content {
                font-size: 1em;
                padding: 5px;
				width: 45%;
            }
     
/*---Side Container ASIDE---*/
.side_container {
	border-left: black solid 1px;
	background-color: lightgrey;
    float: right;
	font-family: Verdana, Geneva, sans-serif;
    padding: 1.25em;
    width: 20%;
    
}
	.side_container h1{
		font-size: 1.5em;
		margin-top: 0px;
	
	}
	.side_container p {
		font-size: 0.85em;
		padding: 0;
		margin: 0;
	}        
	.side_container td {
		font-size: 0.8em;
		margin: 0;
		padding: 4px;
	}
/*---SIDENAV---*/
#sidenav {
	border-right: 2px solid #817965;
	color: #000;
	display: none;
	left: 1%;
	list-style: none;
	padding: 1em 1em 1em 2em;
	position: fixed;
	top: 20%;
}
#sidenav li {
	/*border-left: 4px double #414141;*/
	margin-bottom: 1em;
	}
/*---FOOTER---*/
#footer {
	background-color: #FFF;
	bottom: 0;
	display: none;
	position: fixed;
	width: 100%
}