@import url(timeline.css);
@charset "utf-8";
/*+++HTML5 tags für ältere Browser+++*/
	header, section, footer,
	aside, nav, article, figure {
		display: block;
	}
/*---HTML5 tags für ältere Browser---*/
/*+++Styles für Internet-Explorer+++*/
	img {
		border: 0;
	}
/*---Styles für Internet-Explorer---*/
/*+++allgemeine Tags+++*/
	html {
		border-top-color: #234754;
		border-top-style: solid;
		border-top-width: 11px;
		overflow-y: scroll;/*Scrollbalken für einheitliches Design erzwingen*/
	}
	/*+++Responsives FB Plugin+++*/
		.fb-like-box, .fb-like-box span, .fb-like-box.fb_iframe_widget span iframe {
			width: 100% !important;
			background-color: white;
		}
	/*---Responsives FB Plugin---*/
	body {
		background-color: #fff;
		background-position: 0 200px;
		color: #234754;
		margin: 0 auto;
		min-width: 1000px;
		padding: 0 0;
		width: 70%;
		font-family: 'Open Sans', Verdana;
		
	}
	a {
		color: #000;
	}
	a:hover {
		text-decoration: none;
	}
	hr {
		border-bottom: 0;
		border-style: solid;
		margin: 1em 0;
		height: 0px;
	}
	th {
		text-align: left;
	}
/*---allgemeine Tags---*/
/*+++allgemeine Styles+++*/
	.greencolor {
		color: #B7D300;
	}
	.bottom_border_green {
			border-bottom: 5px solid #B7D300;
	}
	.bottom_border_blue {
			border-bottom: 5px solid #0092ff;
	}
	.pseudo_link {
		cursor: pointer;
		color: #000;
		text-decoration: underline;
	}
	.pseudo_link:hover {
		text-decoration: none;
	}
	.blue_line {
		background-image: url('../img/header_bg-blue.png');
	}
	.green_line {
		background-image: url('../img/header_bg-green.png');
	}
	.float_left {
		float: left;
	}
	.float_right {
		float: right;
	}
	.highlighted {
		color: #555;
		font-family: sans-serif;
		font-size: 2.5em;
		font-weight: bold;
		text-shadow: 2px 2px 0 #fff, 4px 4px 0 #8ED70F;
	}
	.arrow_up {
        position: relative;
        top: 3em;
        margin: 0 auto;
        border: 15px solid #234754;
        font-size:0;line-height:0;height:0;padding:0;width:0;
        border-top-color: transparent;
        border-top-width: 0;
    	border-right-color: transparent;
    	border-left-color: transparent;
    }
    .arrow_right {
        margin-right: 2em;
        display: inline-block;
        border: 8px solid #234754;
        font-size:0;line-height:0;height:0;padding:0;width:0;
        border-top-color: transparent;
    	border-right-color: transparent;
    	border-bottom-color: transparent;
    	border-right-width: 0;
    }
    .arrow_down {
        margin-right: 2em;
        display: inline-block;
        border: 8px solid #234754;
        font-size:0;line-height:0;height:0;padding:0;width:0;
        border-left-color: transparent;
    	border-right-color: transparent;
    	border-bottom-color: transparent;
    	border-bottom-width: 0;
    }
	.list_style_none li{
		list-style-type: none;
	}
/*---allgemeine Styles---*/
/*+++Baumdiagramm+++*/
	.tree {
		font-size: 0.8em;
	}
	.tree ul {
		font-size: 1em;
		list-style-type: none;
		padding-top: 20px; position: relative;
		/*padding-left: 0px;*/
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	}
	
	.tree li {
		float: left; text-align: center;
		list-style-type: none;
		position: relative;
		padding: 20px 5px 0 0px;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	}
	
	/*We will use ::before and ::after to draw the connectors*/
	
	.tree li::before, .tree li::after{
		content: '';
		position: absolute; top: 0; right: 50%;
		border-top: 1px solid #ccc;
		width: 50%; height: 20px;
	}
	.tree li::after{
		right: auto; left: 50%;
		border-left: 1px solid #ccc;
	}
	
		
	
	/*We need to remove left-right connectors from elements without 
	any siblings*/
	.tree li:only-child::after, .tree li:only-child::before {
		display: none;
	}
	
	/*Remove space from the top of single children*/
	.tree li:only-child{ padding-top: 0;}
	
	/*Remove left connector from first child and 
	right connector from last child*/
	.tree li:first-child::before, .tree li:last-child::after{
		border: 0 none;
	}
	/*Adding back the vertical connector to the last nodes*/
	.tree li:last-child::before{
		border-right: 1px solid #ccc;
		border-radius: 0 5px 0 0;
		-webkit-border-radius: 0 5px 0 0;
		-moz-border-radius: 0 5px 0 0;
	}
	.tree li:first-child::after{
		border-radius: 5px 0 0 0;
		-webkit-border-radius: 5px 0 0 0;
		-moz-border-radius: 5px 0 0 0;
	}
	
	/*Time to add downward connectors from parents*/
	.tree ul ul::before{
		content: '';
		position: absolute; top: 0; left: 50%;
		border-left: 1px solid #ccc;
		width: 0; height: 20px;
	}
	
	.tree li span{
		width:10em; /*Testweise von mir/Roman*/
		border: 1px solid #ccc;
		padding: 5px 10px;
		/*text-decoration: none;
		color: #666;
		font-family: arial, verdana, tahoma;*/
		font-size: 100%;
		display: inline-block;
		
		border-radius: 5px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		
		transition: all 0.5s;
		-webkit-transition: all 0.5s;
		-moz-transition: all 0.5s;
	}
	
	.tree_second li {
		margin-left: -35px;
	}
	/*.tree_3 ul {
		margin-left: 14px;
	}*/
	
	/*.tree_second li::before, .tree_second li::after{
		content: '';
		position: absolute; top: 0; right: 70%;
		border-top: 1px solid #ccc;
		width: 50%; height: 20px;
	}
	.tree_second li::after{
		right: auto; left: 70%;
		border-left: 1px solid #ccc;
	}*/
	/*
	.tree_second ul ul::before{
		content: '';
		position: absolute; top: 0; left: 105px;
		border-left: 1px solid #ccc;
		width: 0; height: 20px;
	}*/
	
	/*Time for some hover effects*/
	/*We will apply the hover effect the the lineage of the element also*/
		/*.tree li a:hover, .tree li a:hover+ul li a {
			background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
		}*/
	/*Connector styles on hover*/
		/*.tree li a:hover+ul li::after, 
		.tree li a:hover+ul li::before, 
		.tree li a:hover+ul::before, 
		.tree li a:hover+ul ul::before{
			border-color:  #94a0b4;
		}*/
/*---Baumdiagramm---*/
/*+++HEADER+++*/
	#header {
		font-family: 'Open Sans', sans-serif;
		margin-top: 0;
		overflow: auto;
		width: 100%;
	}
		#headerlist {
			color: #9B9B9B;
			float: right;
			height: 2.9em;
			margin: 1px 1px 0 0;
			line-height: 2.9em;
			list-style: none;
			padding: 0 1em 0 0;
		}
			#headerlist a {
				color: #9B9B9B;
			}
			/*#headerlist a:hover {
				text-decoration: none;
			}*/
			/*#headerlist a:visited {
			}*/
			/*#headerlist a:active {
			}*/
			#headerlist li {
				float: left;
				margin-left: 0.5em;
			}
			.headerlist_main_divider {
				color: #000;
			}
			.headerlist_sub_divider {
				font-size: 0.8em;
			}
			#de_flag {
				width: 15px;
				height: 9px;
			}
			#gb_flag {
				width: 18px;
				height: 9px;
			}
		#headerlogin {
			color: #FFF;
			background-color: #56747C;
			float: right;
			height: 2.9em;
			line-height: 2.9em;
			margin: 1px 1px 0 0;
			padding-right: 1em;
			padding-left: 1em;
			text-decoration: none;
			vertical-align: middle;
			transition: all 300ms linear 0s;
			}
			#login-box {
				background-color: #fff;
				display: none;
				padding: 1em;
				position: absolute;
				top: 4em;
				border: 1px solid #B7D300;
				border-radius: 8px;
				z-index: 100;
			}
			    
			#headerlogin:hover {
				background-color: #BBB;
			}
			#headerregisterbr{
				color: #FFF;
				background-color: #234754;
				float: right;
				height: 3em;
				line-height: 3em;
				padding-left: 1em;
				padding-right: 1em;
			}
		#squery {
			border: none;
			padding: 3px;
		}
/*---HEADER---*/
/*+++LOGO+++*/
	#logo {
		height: 70px;
		left: 1%;
		position:  absolute;
		top: 10px;
	}
/*---LOGO---*/
/*+++NAV+++*/
	#mainnav {
		margin-top: 1.5em;
	}
	#mainnav > hr {
        margin: 0;
    }
		#mainnavlist {
			list-style: none;
			padding: 0;	
            overflow: hidden;
            width: auto;
            margin: 0;
            					
		}
			#mainnavlist li {
				float: left;
				width: 15%;
				background-color: #0092FF;
				margin-right: 0.25%;
				text-align: center;	
				
				-webkit-transition: background-color 300ms linear 0s;
                -moz-transition: background-color 300ms linear 0s;
                -ms-transition: background-color 300ms linear 0s;
                -o-transition: background-color 300ms linear 0s;
                transition: background-color 300ms linear 0s;               		
			}
			#mainnavlist li.mainnavlink_active {
                background-color: #45CCF1;
    		}
    		#mainnavlist li:hover {
    			background-color: #A323CA;
    		}
		.navlinks:link, .navlinks:visited {
		    padding: 0.8em 0;
            position: relative;
			text-decoration: none;
			font-size: 20px;
            color: #fff;
            display: block;
            width: 100%;
            height: 100%;	
            	
		}
		
/*---NAV---*/
/*+++SECTION+++*/
/*++++Allgemeine SECTION Styles++*/
	#section {
		font-size: 1em;
		margin-top: 1.5em;
	}
		.mainarticles {
			padding-bottom: 1em;
			margin-bottom: 1em;
			overflow: hidden;
		}
			.mainarticleheaders {
				background-position: center;
				background-repeat: repeat-x;
				display: block;
				text-align: center;
			}
				.mainarticleheaders h1{
					background-color: #FFF;
					display: inline;
					font-size: 1.4em;
					margin-top: 0;
					padding: 0 1em;
				}
				
				.mainarticleheaders h2{
					background-color: #FFF;
					display: inline;
					font-size: 1.8em;
					margin-top: 0;
					padding: 0 1em;
				}
/*---allgemeine SECTION Styles---*/
	/*+++Home SECTION+++*/
		.hint {
			padding: 15px;
			background-color: #EBEBEB;
			margin-bottom: 20px;
			margin-top: 10px;
		}
		.hint h1 {
			margin: 0px;
			color: red;
		}
		.hint p {
			margin: 10px 0px;
		}
		
	/*Connect Leiste*/	
		#connect_leiste {
			 margin-bottom: 0.5em;
			 margin-top: 0.5em;
			 overflow: auto;
			 padding-bottom: 1em; 
		}
			.connect_box_start {
				/*min-height: 230px;
				max-*/height: 260px;	
			}
			.connect_box {
				float: left;
				padding: 1%;
				background-color: #9B9B9B;
				background-color: #eee;
			}
			        #connectbox_1, #connectbox_2 {
                        display: none;
                    }

    			.connect_box h1 {
    				text-shadow: 0px 2px 2px #777;
    				text-decoration: none;
    				font-size: 2em;
    				font-family: tahoma;
    				color: #FFF;
    				margin: 0;
    				margin-bottom: 0.25em;
    				padding-left: 10px;
    				border-left: 4px solid #B7D300;
    				
    			}    			    
    			    
    			.connect_box span {
                    color: #0092ff;
                    font-weight: bold;
                }
				#uploads_box {
					width: 70%;   
					margin-right: 1%;   
				}
				   
				#central_newest_pic {
                    padding-left: 10px;
                    overflow: auto;
                }
                
                .changepic {
                }
				.connect_thumb_link {
        			float: left;
        			max-width: 40%; 
        			margin-bottom: 0.5em;

        		}
                    .connect_thumbnail {
        			   	padding-right: 1em;
            	        border-right: solid 1px #000;
            			float: left;
            			max-height: 400px;            			
            			max-width: 85%;
            			/* Firefox */
            			max-width: -moz-calc(100% - 50px);
            			/* WebKit */
            			max-width: -webkit-calc(100% - 50px);
            			/* Opera */
            			max-width: -o-calc(100% - 50px);
            			/* Standard */
            			max-width: calc(100% - 50px);
        			} 
        			.connect_pic-info {
        			    font-size: 1.1em;
            			float: left;
            			max-width: 46%;
            		}
            			.connect_pic-info th {
            				padding: 0 1em 0 0;
            				width: 4em;
            				color: #B7D300;
            			}
            		.more_imgs {
            	       float: left;
                       margin-right: 1em;          	                 		
                    }            		
                		.fake_img {
                            width: 50px;
                            height: 50px;
                            background-color: #B7D300;
                            margin-bottom: 5px;
                            border: 4px solid #fff;
                        }
				#submit_box {
					width: 25%;
				}
					#submit_box hr {
						margin: 0.2em 0;
						color: #444;
					}
					#submit_box p {
					   margin: 0.5em 0;
					}
					#submit_box h1 {
                       border-left: 4px solid #0092ff;
                    }
                #stats_box {
                    margin-right: 1%;
                    width: 35%;
                }
                    #stats_box > h1 {
                        border-left: 4px solid #5CD300;
                    }
                    #stats_box > table {                
        				/*padding-left: 1.5em;*/			
                    }
                    #stats_box th {
    					padding-right: 1em;
    				}
    			#topusers_box {
    		        margin-right: 1%;
    		        width: 30%;
    			}
    			 #topusers_box > h1 {
                    border-left: 4px solid #F00567;
                }
		/*Artikel*/			
		.round_image {
            margin: 0 auto;
            padding: 0;
            width: 340px;
            height: 340px;
            border-radius: 100%; 
            border: 3px #fff dashed
        }
        #reisearmband {
			float: left;
			width: 35%;
		}
		#kollektion {
			float: left;
			margin-left: 3%;
			width: 35%;
		}
			.kollektion_numbers{
				float: left;
				padding-right: 10px;
			}
			#kollektion p {
				border: 1px black solid;
				margin: 0;
				padding: 10px;
			}
			.arrow {
				/* Fallback */
				margin-left: 48%;
				/* Firefox */
				margin-left: -moz-calc(50% - 20px);
				/* WebKit */
				margin-left: -webkit-calc(50% - 20px);
				/* Opera */
				margin-left: -o-calc(50% - 20px);
				/* Standard */
				margin-left: calc(50% - 20px);
			}
		.line_header {
			margin-bottom: 1em;
		}
		/*YOUTUBE*/
		.responsive_16-9, .responsive_4-3, .responsive_a4{  
           position: relative;  
           /*16 zu 9 Layout für Videos*/
           padding-bottom: 56.25%;  
           height: 0;  
           overflow: hidden;  
        }            
        .responsive_16-9 iframe, .responsive_4-3 iframe, .responsive_a4 iframe,  
        .responsive_16-9 object, .responsive_4-3 object, .responsive_a4 object,  
        .responsive_16-9 embed, .responsive_4-3 embed, .responsive_a4 embed{  
           position: absolute;  
           top: 0;  
           left: 0;  
           width: 100%;  
           height: 100%;  
        }  
	/*---Home SECTION---*/
	/*+++Über uns SECTION+++*/
		#about-us {
			float: left;
			width: 73%;
		}
		#wir {
			width: 70%;
			float: left;
		}
		#partner_box {
            float: left;
            background: #eee;
            width: 27%;
            margin-left: 1%;
            padding: 0.5em;
            display: block;
            text-decoration: none;
        }
        #partner_box > h1 {
            text-shadow: 0px 2px 2px #777;
			font-size: 2em;
			font-family: tahoma;
			color: #FFF;
			margin: 0;
			margin-bottom: 0.25em;
			padding-left: 10px;
			border-left: 4px solid #B7D300;
        }
            
            #graffe_link {
                display: block;
                text-decoration: none;    
            }
                #graffe_link > img {
                    width: 40%;
                    float: left;
                }
            .partner_name {
                float: left;
                font-size: 1em;
                width: 55%;
                margin: 0;
                color: #000;
            }
            

	/*---Über uns SECTION---*/
	/*+++Impressum SECTION+++*/
		#impressum {
			float: left;
			width: 100%;
		}
		#disclaimer {
			float: left;
		}
	/*---Impressum SECTION---*/
	/*+++Kontakt SECTION+++*/
		#kontakt {
		}
	/*---Kontakt SECTION---*/
	/*+++Armband SECTION+++*/
		#armband {
			float: left;
			width: 73%;		
		}
	/*---Armband SECTION---*/
	/*+++Profil SECTION+++*/
	.profile_pic {
	    float: left;
        margin-right: 1em; 
        border-radius: 1em;
    }	
	.user_info {
        overflow: hidden;    
        margin-bottom: 1em; 
        float: left;
        width: 50%;
    }
        .user_info > h1, .user_info p {
            margin: 0;
        }
    .logged_info {
        float: right; 
    }
    .showcases {
        clear: both;  
        overflow: auto;  
    }
        #showcase_2, #showcase_3 {
            display: none;
        }
    .tabs {
        margin: 0;
        padding: 0.4em;
        clear: both;
        display: inline-block;
        text-decoration: none;
        transition: background-color 400ms linear 0;
    }
        .tabs:hover {
            background-color: #ddd;
        }
	.previews {
		background-color: #ddd;
		width: 300px;
		/*height: 200px;------------------------------------------------------------------------------------Maybe*/
		float: left;
		margin: 1%;
		padding: 0.5em;
	}
		.preview_text {
			font-size: 0.8em;
			margin: 0;
		}
		.previewpic {
			max-width: 100%;
			height: 170px;
		}
	/*---Profil SECTION---*/
	/*+++Start SECTION+++*/
			
		.thumb_link {
			float: left;
			max-width: 40%;
			width: 390px;
		}
			.thumbnail {
			border: 8px solid #CDCDCD;
			float: right; 
			height: auto; 
			margin-bottom: 1em;
			max-height: 400px;
			margin-right: 0em;
			max-width: 85%;
			/* Firefox */
			max-width: -moz-calc(100% - 50px);
			/* WebKit */
			max-width: -webkit-calc(100% - 50px);
			/* Opera */
			max-width: -o-calc(100% - 50px);
			/* Standard */
			max-width: calc(100% - 50px);
			}
			.thumb_triangle {
				float: right;
				margin-top: 10px;
			}
		.pic-info {
			font-size: 1.2em;
		}
			.pic-info th {
				padding: 0 1em 0 0;
				width: 4em;
			}
		.bracelet-props{
		   background-color: #4C4C4C !important;
		   border: none !important;
		   color: #FFF !important;
		   padding: 1em !important;
		   width: 22% !important;
		}        
		.pic-desc {
			float: left;
			margin-top: 15px;
			padding: 0;
			width: 56%;
		}
			.desc-header {
				color: #B7D300;
				font-weight: bold;
			}
			.toggle_comments {
				background-color: #4C4C4C;   
				color: #FFF;
				font-family: 'Open Sans', Verdana, sans-serif;
				padding: 2px 4px;
				text-decoration: none;
			}
		.comments {
			clear: both;
			display: none;
			color: black;
			background-color:  #EBEBEB;
			padding:  20px;
			padding-bottom: 20px;
		}      
			.comments strong {
				color: #B7D300;
				font-family: 'Open Sans', Verdana, sans-serif;
			}
			.comments p {
				margin-top: 10px;
				padding-left: 20px; 
				border-left: 4px #B7D300 solid;   
			}
			.comment_form {
				margin-top: 20px;
				margin-left: 20px;
				padding-left: 20px;
				border-left: 4px #B7D300 solid;
			}
				.comment_content {
					padding: 5px;
					width: 45%;
				}
	/*---Start SECTION---*/
	/*+++Login SECTION+++*/
		#register_pic {
			float: left;		
			width: 49%;
			margin-right: 3%;
			position: relative;
			
		}
		#register_br {
			float: left;
			width: 48%
		}
        #map {
            position: absolute;
            left: 100%;
            top: 0;
            padding: 1em;
            border: 1px solid #000;
        }
            #pos {
                width:400px;
                height:300px;
            }
            #map > p {
                margin: 1em 0 0 0;    
            }
        #image_preview {
            background-repeat: no-repeat;
            background-position: center;
            max-height: 0px;
            border: 1px solid #000;
            padding: 1em;   
            max-width: 400px;         
        }
	/*---Login SECTION---*/
	/*+++ FAQ SECTION +++*/
    .answers {
        clear: both;
        overflow: auto;
        display: none;
        margin-left: 2em;
    }
        .answers > p {
            margin-top: 0;
        }
    .questions {
        margin: 0;
        padding: 0.4em;
        clear: both;
        display: inline-block;
        text-decoration: none;
        transition: background-color 400ms linear 0;
    }
        .questions:hover {
            background-color: #ddd;
        }
	/*--- FAQ SECTION ---*/
	/*+++ Shop SECTION +++*/
	#shop h2 {
        margin-top: 0;
        margin-bottom: 0.5em;
        font-size: 3em; 
    }
    #shop h3 {
        margin: 0;
    }
    #shop h4 {
        margin: 0;
        font-weight: normal;
        font-size: 1.2em;
    }
    .shop_text {
        margin-top: 0;
    }
    #shop hr {
        margin-top: 0;
        width: 400px;
    }
    .product_pic {
        border: 6px solid #999;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
    }
    .order_button {
        margin-top: 1em;
        display: inline-block;
        padding: 1em;
        text-decoration: none;
        background-color: #0092ff;
        color: #fff;
        border-radius: 10px;
        transition: background-color 300ms linear;
    }
        .order_button:hover {
            background-color: #A323CA;
        }
	#order > form {
        padding-left: 1em;
        border-left: 4px solid #999; 
    }
	/*--- Shop SECTION ---*/
/*---SECTION---*/
/*+++Side Container ASIDE+++*/
	.side_container {
		border-left: black solid 1px;
		background-color: #eee;
		float: right;
		padding: 1.25em;
		width: 21%;    
	}
		.side_container h1{
			    text-shadow: 0px 2px 2px #777;
				font-size: 2em;
				font-family: tahoma;
				color: #FFF;
				margin: 0;
				padding-left: 0.25em;
				margin-bottom: 0.25em;
				border-left: 4px #0092FF solid;		
		}
		.side_container p {
			padding: 0;
			margin: 0;
		}        
		.side_container td {
			margin: 0;
			padding: 4px;
		}
/*---Side Container ASIDE---*/
@keyframes fadein{from{opacity:0;}to{opacity:1;}}@-moz-keyframes fadein{from{opacity:0;}to{opacity:1;}}@-webkit-keyframes fadein{from{opacity:0;}to{opacity:1;}}@-o-keyframes fadein{from{opacity:0;}to{opacity:1;}}

.delete_button {
	-moz-box-shadow:inset 0px 0px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 0px 0px 0px #ffffff;
	box-shadow:inset 0px 0px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:Arial Black;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:29px;
	line-height:29px;
	width:34px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 0px 0px #ffffff;
}
.delete_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.delete_button:active {
	position:relative;
	top:1px;
}

#map_home {
	height: 400px;
}