@charset "utf-8";
html {
	border-top: 0 !important;
}
body {
	border-top-color: #234754 !important;
	border-top-style: solid !important;
	border-top-width: 11px !important;
}
		#topusers {
			float: right !important;
			margin-left: 0 !important;
		}
/*----FÜR OPERA MOBILE----*/
/*----KANN BEI BEDARF AUCH NUR FÜR OPERA MOBILE ANGEWENDET WERDEN----
	#headerlist {
		max-height: 2.9em !important;
		padding-top: 0.45em !important;
		vertical-align: middle !important;
	}
	#headerlogin {
		max-height: 2.9em !important;
		padding-top: 0.45em !important;
		vertical-align: middle !important;
		}
		#headerregisterbr{
		max-height: 3em !important;
		padding-top: 0.5em !important;
		vertical-align: middle !important;
		}*/