@charset "utf-8";
/* HTML5 tags für ältere Browser*/
header, section, footer,
aside, nav, article, figure {
	display: block;
}

body {
	border-top-color: #414141;
	border-top-style: solid;
	border-top-width: 11px;
	margin: 0;
	padding: 0 15% 0 15%;
}
/*---HEADER---*/
#header {
	margin: 0;
	margin-left: auto;
	height: 5em;
	font-family: Tahoma, Geneva, sans-serif;
}
#headerlist {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	color: #9B9B9B;
	margin-top: 1em;
}
#headerlist li {
	float: left;
	margin-right: 0.5em;
}
#headerlist a {
	color: #9B9B9B;
	text-decoration: none;
}
/*#headerlist a:visited {
}
#headerlist a:active {
}*/
#headerlogin {
	float: right;
	margin: 1px;
	padding: 1em 1em 0.75em 1em;
	color: #FFF;
	background-color: #9B9B9B;
}
#headerregisterbr{
	float: right;
	background-color: #414141;
	color: #FFF;
	padding: 1em 1em 0.5em 1em;
}
/*#headerregisterbr form {
}*/
/*---NAV---*/
#mainnav ul {
}
#mainnavlist {
	list-style: none;
	padding: 0;
	margin-top: 2em;
}
#mainnavlist li {
	float: left;
	margin-right: 2em;
	font-size: 1.75em;
}
.mainnavlinks:link {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
.mainnavlinks:visited {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
.mainnavlinks:hover {
	border-bottom: 5px solid grey;/*#909090;*/
}