@charset "utf-8";
/* HTML5 tags für ältere Browser*/
header, section, footer,
aside, nav, article, figure {
	display: block;
}
/*Internet-Explorer*/
img {
	border: 0;
}
/*---BODY---*/
body {
	border-top-color: #414141;
	border-top-style: solid;
	border-top-width: 11px;
	margin: 0;
	padding: 0 14% 0 14%;
}
/*---HEADER---*/
#header {
	height: 5em;
	font-family: Tahoma, Geneva, sans-serif;
	background-color: blue;
	padding: 0;
}
#headerlist {
	list-style: none;
	margin: 0;
	padding: 0;
	float: right;
	color: #9B9B9B;
	margin-top: 1em;
}
#headerlist li {
	float: left;
	margin-right: 0.5em;
}
#headerlist a {
	color: #9B9B9B;
}
/*#headerlist a:visited {
}*/
#headerlist a:hover {
	text-decoration: none;
}
/*#headerlist a:active {
}*/
#headerlogin {
	float: right;
	margin: 1px 1px 0 0;
	padding-right: 1em;
	padding-left: 1em;
	line-height: 2.9em;
	vertical-align: middle;
	background-color: #9B9B9B;
	text-decoration: none;
	color: #FFF;
	height: 2.9em;
}
#headerlogin:hover {
	background-color: #BBB;
}
#headerregisterbr{
	float: right;
	background-color: #414141;
	color: #FFF;
	padding-right: 1em;
	padding-left: 1em;
	height: 3em;
	line-height: 3em;
}
/*---logo---*/
#logo {
	border: 0;
}
/*---NAV---*/
#mainnav {
	display: block;
	margin-bottom: 5em;
}
#mainnavlist {
	list-style: none;
	padding: 0;
	margin-top: 2em;
}
#mainnavlist li {
	float: left;
	margin-right: 2em;
	font-size: 1.75em;
}
.mainnavlinks:link, .mainnavlinks:visited {
	text-decoration: none;
	color: #000;
	font-weight: bold;
}
.mainnavlinks:hover {
	border-bottom: 5px solid grey;
}
/*---SECTION---*/
section {
	/*background-color: green;*/
}
.mainarticles {
	/*padding: 1%;*/
	font-size: large;
}
.mainarticleheaders {
	background-repeat: repeat-x;
	background-position: center;
	display: block;
	text-align: center;
}
.mainarticleheaders h1{
	margin-top: 0;
	background-color: #FFF;
	display: inline;
	padding: 0 1em;
}
#reisearmband {
	/*background-color: red;*/
	width: 35%;
	float: left;
}
#reisearmband_header {
	background-image: url('../pictures/header_bg-blue.png');
}
#reisearmband_img {
	width: 100%;
	height: 300px;
}
#kollektion {
	/*background-color: blue;*/
	width: 35%;
	float: left;
	margin-left: 3%;
}
#kollektion_header {
	background-image: url('../pictures/header_bg-green.png');
}

#kollektion_img {
	width: 100%;
	height: 300px;
}
/*---JUNIOR---*/

#junior {
    float: right;
    background-color: #414141;
    width: 20%;
    padding: 1.25em;
	margin-top: 1em;
    
}

#junior h1{
    color: #FFF;
    font-size: 1.5em;
    font-family: Verdana;

    margin-top: 0px;

}

#junior p {
    color: #FFF;
    font-size: 1em;
    font-family: Verdana;
    padding: 0;
    margin: 0;
}