@charset "utf-8";
/* HTML5 tags für ältere Browser*/
header, section, footer,
aside, nav, article, figure {
	display: block;
}
/*Internet-Explorer*/
img {
	border: 0;
}
/*---BODY---*/
body {
	color: #234754;
	border-top-color: /*#414141*/#234754;
	border-top-style: solid;
	border-top-width: 11px;
	margin: 0;
	padding: 0 13% 0 13%;
}
/*---HEADER---*/
#header {
	font-family: Tahoma, Geneva, sans-serif;
	width: 100%;
}
#headerlist {
	color: #9B9B9B;
	background-color: #FFF;
	float: right;
	height: 2.9em;
	margin: 1px 1px 0 0;
	line-height: 2.9em;
	list-style: none;
	padding: 0 1em 0 0;
}
#headerlist li {
	float: left;
	margin-left: 0.5em;
}
.headerlist_main_divider {
	color: #000;
}
.headerlist_sub_divider {
	font-size: small;
}
#headerlist a {
	color: #9B9B9B;
}
/*#headerlist a:visited {
}*/
#headerlist a:hover {
	text-decoration: none;
}
/*#headerlist a:active {
}*/
#headerlogin {
	color: #FFF;
	background-color: /*#9B9B9B*/ #56747C;
	float: right;
	height: 2.9em;
	line-height: 2.9em;
	margin: 1px 1px 0 0;
	padding-right: 1em;
	padding-left: 1em;
	text-decoration: none;
	vertical-align: middle;
}
#headerlogin:hover {
	background-color: #BBB;
}
#headerregisterbr{
	color: #FFF;
	background-color: /*#414141*/#234754;
	float: right;
	height: 3em;
	line-height: 3em;
	padding-left: 1em;
	padding-right: 1em;
}
/*---logo---*/
#logo {
	border: 0;
	margin-top: 2em;
}
/*---NAV---*/
#mainnav {
	display: block;
	margin-bottom: 5em;
}
#mainnavlist {
	list-style: none;
	margin-top: 2em;
	padding: 0;
}
#mainnavlist li {
	float: left;
	font-size: 1.75em;
	margin-right: 2em;
}
.mainnavlinks:link, .mainnavlinks:visited {
	color: #000;
	border-bottom: 1px dashed grey;
	font-weight: bold;
	text-decoration: none;
}
.mainnavlinks:hover {
	border-bottom: 5px solid grey;
}
/*---SECTION---*/
section {
}
.mainarticles {
	font-size: large;
	/*padding: 1%;*/
}
.mainarticleheaders {
	background-position: center;
	background-repeat: repeat-x;
	display: block;
	text-align: center;
}
.mainarticleheaders h1{
	background-color: #FFF;
	display: inline;
	margin-top: 0;
	padding: 0 1em;
}
#reisearmband {
	float: left;
	width: 35%;
}
#reisearmband_header {
	background-image: url('../pictures/header_bg-blue.png');
}
#reisearmband_img {
	height: 300px;
	width: 100%;
}
#kollektion {
	float: left;
	margin-left: 3%;
	width: 35%;
}
#kollektion_header {
	background-image: url('../pictures/header_bg-green.png');
}
#kollektion_img {
	height: 300px;
	width: 100%;
}
/*---JUNIOR---*/
#junior {
    /*background-color: #414141;*/
	border-left: black solid 1px;
    float: right;
    padding: 1.25em;
	margin-top: 1em;
    width: 20%;
    
}
#junior h1{
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1.5em;
    margin-top: 0px;

}
#junior p {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
}
/*---FOOTER---*/
#footer {
	background-color: #FFF;
	bottom: 0;
	position: fixed;
	width: 100%
}