#### Rule for Error Page - 404 ####
ErrorDocument 404 http://rstyle.mania-server.net/jp/404.php


# Enable Rewrite Engine
RewriteEngine on

#Create friendly URL
RewriteRule ^site$ site.html [L]

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php