#characterset specified
AddType 'text/html; charset=UTF-8' html

#default page set
DirectoryIndex home.php index.php index.html

#enable mod_rewrite
Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /htdocs

# remove trailing slash
RewriteRule ^(.*)/$ /$1 [L,R=301]

#start->community
RewriteCond %{QUERY_STRING}  ^$
RewriteRule ^start$ /community? [R=301,NE,NC,L]

#create friendly URL
RewriteCond %{REQUEST_URI} !/$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !armband.*
RewriteCond %{REQUEST_FILENAME} !about.*
RewriteCond %{REQUEST_FILENAME} !account.*
RewriteCond %{REQUEST_FILENAME} !admin.*
RewriteCond %{REQUEST_FILENAME} !armband.*
RewriteCond %{REQUEST_FILENAME} !community.*
RewriteCond %{REQUEST_FILENAME} !privacy-policy.*
RewriteCond %{REQUEST_FILENAME} !error.*
RewriteCond %{REQUEST_FILENAME} !faq.*
RewriteCond %{REQUEST_FILENAME} !home.*
RewriteCond %{REQUEST_FILENAME} !impressum.*
RewriteCond %{REQUEST_FILENAME} !kontakt.*
RewriteCond %{REQUEST_FILENAME} !login.*
RewriteCond %{REQUEST_FILENAME} !nachrichten.*
RewriteCond %{REQUEST_FILENAME} !profil.*
RewriteCond %{REQUEST_FILENAME} !search.*
RewriteCond %{REQUEST_FILENAME} !order.*
RewriteCond %{REQUEST_FILENAME} !shop.*
RewriteCond %{REQUEST_FILENAME} !start.*
RewriteCond %{REQUEST_URI} !css/.*
RewriteCond %{REQUEST_URI} !img/.*
RewriteCond %{REQUEST_URI} !js/.*
RewriteCond %{REQUEST_URI} !pictures/.*
RewriteRule ^(.*)$ /armband?absolute=$1 [L,B]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ /$1.php

#redirect subdomains to maindomain
RewriteCond %{HTTP_HOST} ^www.placelet.de$ [NC]
RewriteRule ^(.*)$ http://placelet.de/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.placelet.net$ [NC]
RewriteRule ^(.*)$ http://placelet.net/$1 [R=301,L]

#RedirectMatch 301 (.*)\.png$ /cache.php?file=$1
#RedirectMatch 301 (.*)\.jpg$ /cache.php?file=$1
#RedirectMatch 301 (.*)\.jpeg$ /cache.php?file=$1
#RedirectMatch 301 (.*)\.svg$ /cache.php?file=$1
#RedirectMatch 301 (.*)\.ico$ /cache.php?file=$1

# BEGIN Expire headers
#<IfModule mod_expires.c>
#ExpiresActive On
#ExpiresDefault "access plus 1 year"
#ExpiresByType image/x-icon "access plus 1 year"
#ExpiresByType image/jpeg "access plus 1 year"
#ExpiresByType image/png "access plus 1 year"
#ExpiresByType image/gif "access plus 1 year"
#</IfModule>
# END Expire headersExpiresByType image/svg+xml "access plus 1 year"
 
# BEGIN Cache-Control Headers
#<IfModule mod_headers.c>
#  <FilesMatch "\.(ico|jpe?g|png|gif|svg)$">
#    Header set Cache-Control "max-age=31536000, public"
#  </FilesMatch>
#</IfModule>

#Error documents
ErrorDocument 404 /404.php
#composed by Daniel Schäfer and Roman Savrasov