#### Rule for Error Page - 404 ####

#default page set
DirectoryIndex home.php index.php index.html

#characterset specified
AddType 'text/html; charset=UTF-8' html

#enable mod_rewrite
Options +FollowSymLinks -MultiViews
RewriteEngine On
RewriteBase /htdocs

# remove trailing slash
RewriteRule ^(.*)/$ /$1 [L,R=301]

#create friendly URL
RewriteCond %{REQUEST_URI} !/$
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !armband.*
RewriteCond %{REQUEST_FILENAME} !about.*
RewriteCond %{REQUEST_FILENAME} !account.*
RewriteCond %{REQUEST_FILENAME} !admin.*
RewriteCond %{REQUEST_FILENAME} !armband.*
RewriteCond %{REQUEST_FILENAME} !faq.*
RewriteCond %{REQUEST_FILENAME} !home.*
RewriteCond %{REQUEST_FILENAME} !impressum.*
RewriteCond %{REQUEST_FILENAME} !kontakt.*
RewriteCond %{REQUEST_FILENAME} !login.*
RewriteCond %{REQUEST_FILENAME} !profil.*
RewriteCond %{REQUEST_FILENAME} !search.*
RewriteCond %{REQUEST_FILENAME} !order.*
RewriteCond %{REQUEST_FILENAME} !shop.*
RewriteCond %{REQUEST_FILENAME} !start.*
RewriteCond %{REQUEST_FILENAME} !error.*
RewriteCond %{REQUEST_URI} !css/.*
RewriteCond %{REQUEST_URI} !img/.*
RewriteCond %{REQUEST_URI} !js/.*
RewriteCond %{REQUEST_URI} !pictures/.*
RewriteRule ^(.*)$ /armband?name=$1 [L,B]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*?)/?$ /$1.php

#redirect subdomains to maindomain
RewriteCond %{HTTP_HOST} ^www.placelet.de$ [NC]
RewriteRule ^(.*)$ http://placelet.de/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^www.placelet.net$ [NC]
RewriteRule ^(.*)$ http://placelet.net/$1 [R=301,L]

#Error documents
ErrorDocument 404 /404.php
#composed by Daniel Schäfer and Roman Savrasov